@import "../styles/colors";

.footer {
  align-items: center;
  border-top-left-radius: 20px;
  background-color: $lightBlack;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  margin-top: 10vh;
  padding-top: 5vh;
  flex-direction: column;
}

.content {
  width: 80vw;
}

.title {
  font-size: 3vw;
}

.copyrightContainer {
  align-items: center;
  display: flex;
  margin-top: 10vh;
}

.copyText {
  font-size: 1.2rem;
}

.tsIcon {
  color: $typescript;
  font-size: 2rem;
  margin: 0 1rem;
}

.ghIcon {
  color: $purple;
  font-size: 3rem;
  margin: 0 1rem;

  &:hover {
    color: $pink;
  }
}
