@import "../../styles/colors";

.footer {
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: $offBlack;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  margin-top: 10vh;
  padding-top: 10vh;
  flex-direction: column;
}
.content {
  flex-wrap: wrap;
  display: flex;
  width: 80vw;
}
.leftContent {
  flex: 1;
  margin-right: 3rem;
}
.linksContainer {
  margin-top: 3rem;
  width: 25rem;
}
.title {
  font-size: 3rem;
}
.rightContent {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

@media only screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    padding: 0 1rem;
    width: 100vw;
  }
  .title {
    font-size: 2.5rem;
  }
  .leftContent {
    margin-right: 0;
  }
  .rightContent {
    margin-top: 4rem;
  }
}
