.card {
  border-radius: 20px;
  border: 8px solid purple;
  max-width: 60vw;
  margin-bottom: 3rem;
  padding: 1rem;
}

.title {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.body {
  font-size: 1.3rem;
}
