@import "../styles/colors";

.link {
  margin-bottom: 16px;
  :hover {
    border-color: $pink;

    .btn {
      border: 2px solid $pink;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  background-color: $offBlack;
  border: 2px solid $lightPurple;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  width: 400px;
  height: 210px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.body {
  font-size: 1.1rem;
  max-width: 80%;
}

.spacing {
  width: 2rem;
}

.btn {
  align-self: center;
  align-items: center;
  background-color: $lightBlack;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  font-size: 2rem;
  justify-content: center;
  width: 50px;
}
@media only screen and (max-width: 1000px) {
  .content {
    height: auto;
    width: 80vw;
  }
}
