@import "../../../styles/colors";

.link {
  :hover {
    border-color: $pink;

    .btn {
      background-color: $pink;
    }
  }
}
.container {
  display: flex;
  background-color: $offBlack;
  border: 2px solid $purple;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  margin-top: 4rem;
  max-width: 800px;
}
.title {
  font-size: 2rem;
}
.body {
  font-size: 1.5rem;
  max-width: 80%;
}
.btn {
  align-self: center;
  align-items: center;
  background-color: $purple;
  border-radius: 25px;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  font-size: 2rem;
  justify-content: center;
  width: 50px;
}
