@import "../../../styles/colors";

.hero {
  align-items: center;
  display: flex;
  margin-top: 14vh;
  justify-content: space-between;
}
.leftContainer {
  flex: 3;
}
.title {
  font-size: 6vw;
}

.rightContainer {
  flex: 1;
}

.ghIcon {
  color: $purple;
  font-size: 10vw;

  &:hover {
    color: $pink;
  }
}
