@import "../../../styles/colors";

.copyrightContainer {
  align-items: center;
  display: flex;
  margin-top: 10vh;
}

.copyText {
  font-size: 1.2rem;
}

.tsIcon {
  color: $typescript;
  font-size: 2rem;
  margin: 0 1rem;
}

.ghIcon {
  color: $purple;
  font-size: 3rem;
  margin: 0 1rem;

  &:hover {
    color: $pink;
  }
}

@media only screen and (max-width: 450px) {
  .copyText {
    font-size: 0.8rem;
  }
  .tsIcon {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  .ghIcon {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
