.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 6vw;
}

.section {
  margin-top: 10rem;
}

.sectionTitle {
  font-size: 4vw;
}

.listContainer {
  margin-top: 3rem;
}
